@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --light-blue: #1a7bd1;
  --dark--gray: #2c2d3f;
  --light--gray: #757575;
  --bg--white: #f6f6f6;
  --bg--newsletter: #edf2ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.text-primary {
  color: var(--light-blue);
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px 25px;
  font-size: 14px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: var(--light-blue);
  color: #fff;
}

.btn-primary:hover {
  background-color: #135fa1;
}
.btn-secondary {
  background-color: var(--dark--gray);
  color: #fff;
}

.btn-third {
  background-color: #fff;
  color: var(--light-blue);
  border: 1px solid #fff;
}

.btn-forth {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}

.btn-forth:hover {
  background-color: #fff;
  color: var(--dark--gray);
}
.btn-third:hover {
  background-color: var(--light-blue);
}
.btn-secondary:hover {
  background-color: #4c4f6e;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
}

.title {
  text-align: center;
}

.title h2 {
  font-size: 32px;
  max-width: 600px;
  margin: auto;
}

.title img {
  margin: 20px 0;
}

.title p {
  line-height: 2;
  font-size: 17px;
  max-width: 500px;
  margin: auto;
}

h1,
h2,
h3,
h4 {
  color: var(--dark--gray);
}

h2,
h3 {
  font-weight: 600;
}

p {
  color: var(--light--gray);
  font-size: 14px;
}

#home .navbar {
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

#home .navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  min-height: 100px;
  padding: 0 2rem;
}

#home .navbar nav ul {
  display: flex;
}

#home .navbar nav ul a {
  margin: 0 15px;
  color: var(--dark--gray);
  font-weight: 500;
  transition: all 0.5s ease;
}

#home .navbar nav ul a:hover {
  color: #1a7bd1;
}

#home .navbar .logo {
  width: 250px;
}

#home .home-content {
  background: url("img/bg-home.jpg") no-repeat center center/cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

#home .home-content .col {
  margin: auto;
  width: 1200px;
  padding: 0 2rem;
}

#home .home-content .col small {
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 1px;
}

#home .home-content .col small img {
  vertical-align: middle;
}

#home .home-content .col h1 {
  font-size: 45px;
  max-width: 600px;
  line-height: 1.4;
}

#home .home-content .col p {
  margin: 10px 0 30px;
  max-width: 500px;
  line-height: 1.6;
}
#home .home-content .col a {
  margin-right: 15px;
}

/* about start */

#about,
#help,
#services,
#blogs,
#contact,
#footer {
  padding: 6rem 0;
}

#about .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  align-items: center;
  margin-top: 3rem;
}

#about .row .col h3 {
  font-size: 25px;
}

#about .row .col hr {
  width: 60px;
  height: 3px;
  background-color: var(--light-blue);
  border: none;
  margin: 10px 0;
}

#about .row .col p {
  font-size: 16px;
  margin-bottom: 24px;
}

#about .row .col .list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#about .row .col .list li {
  font-size: 15px;
  margin-bottom: 5px;
  color: var(--dark--gray);
}

#about .row .col .list li:hover {
  color: var(--light-blue);
}
#about .row .col .list li i {
  margin-right: 5px;
  color: var(--light-blue);
}

#about .row img {
  width: 100%;
}

/* about end*/

/*Info Start*/
#info,
#brand {
  background: url("./img/info-bg.jpg") no-repeat center center/cover;
  padding: 6rem 0;
  position: relative;
  z-index: 1;
  color: #fff;
}

#info::before,
#call::before,
#brand::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light-blue);
  opacity: 0.8;
  z-index: -1;
}

#info .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#info .row .col {
  display: flex;
  justify-content: center;
  align-items: center;
}

#info .row .col i {
  font-size: 30px;
  padding: 40px;
  border: 2px;
  margin-right: 10px;
}

#info .row .col p {
  color: #fff;
  font-size: 15px;
}

#info .row .col span {
  font-size: 25px;
  color: #fff;
  font-weight: 700;
}

#info .row .col:hover {
  color: var(--light--gray);
}

/*Info End*/

/*Help Start*/

#help .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  column-gap: 3rem;
  margin-top: 3rem;
  text-align: center;
}

#help .row .col {
  position: relative;
  font-size: 20px;
  color: var(--light-blue);
}

#help .row .col i {
  font-size: 40px;
  color: var(--light-blue);
  padding: 10px;
}

#help .row .col h3 {
  margin: 20px 0;
  color: var(--dark--gray);
}

/* #help .row .col:first-child {
  background-color: red;
} */

#help .row .col:first-child::before,
#help .row .col:nth-child(2)::before {
  content: "";
  border-bottom: 4px dotted var(--light-blue);
  width: 118px;
  position: absolute;
  top: 40px;
  right: -75px;
}
/*Help End*/

/* call start */

#call {
  background: url("/img/call-bg.jpg") no-repeat center center/cover;
  padding: 6rem 0;
  text-align: center;
  position: relative;
  z-index: 1;
}

#call .call-content {
  max-width: 600px;
  margin: auto;
}
#call .call-content h2 {
  font-size: 35px;
  color: #fff;
}

#call .call-content p {
  color: var(--bg--white);
  margin: 25px 0;
  font-size: 15px;
}

#call .call-content a {
  margin-right: 25px;
  color: var(--dark--gray);
  font-weight: 500;
  transition: all 0.5s ease;
}

/* call end */

/*  Services Start  */

#services .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem 3rem;
  margin-top: 5rem;
}

#services .row .item {
  margin-bottom: 10px;
  color: var(--light-blue);
  display: flex;
}

#services .row .item i {
  font-size: 40px;
  margin-right: 1rem;
}

#services .row .item h3 {
  font-size: 20px;
  margin-bottom: 7px;
}

#services .row .item p {
  max-width: 300px;
}

/*  Services End  */

/*price-list start*/

#price-list,
#doctors,
#contact {
  background-color: var(--bg--white);
  padding: 6rem 0;
}

#price-list .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  margin-top: 5rem;
}

#price-list .row .col {
  background-color: #fff;
  padding: 3rem 2rem;
  border: 1px solid #ddd;
}

#price-list .row .col .price-details {
  text-align: center;
}
#price-list .row .col .price-details i {
  font-size: 60px;
  color: var(--light-blue);
}

#price-list .row .col .price-details h3 {
  font-size: 25px;
  font-weight: 500;
  margin-top: 2rem;
}

#price-list .row .col .price-details p {
  font-size: 30px;
  color: var(--light-blue);
  font-weight: 600;
}

#price-list .row .col .price-details span {
  font-size: 15px;
  color: var(--light--gray);
  font-weight: 500;
}

#price-list .row .col ul {
  margin-top: 2rem;
}

#price-list .row .col ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--light--gray);
  margin: 1rem;
}

#price-list .row .col ul li i.fa-circle-check {
  color: var(--light-blue);
}

#price-list .row .col a {
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
/*price-list end*/

#brand .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#brand .row img {
  max-width: 200px;
  margin-bottom: 20px;
}

/* Doctors start*/

#doctors .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  margin-top: 3rem;
  text-align: center;
}

#doctors .row .col {
  background-color: #fff;
  padding: 3rem 2rem;
  border: 1px solid #ddd;
}

#doctors .row .item img {
  width: 100%;
  height: 300px;
  margin-bottom: 2rem;
}

#doctors .row .item .item-details {
  margin-bottom: 2rem 0;
}

#doctors .row .item .item-details h3 {
  font-size: 25px;
}
#doctors .row .item .item-details p {
  margin: 10px 0 10px;
  color: var(--light-blue);
  font-weight: 600;
}

#doctors .row .item a {
  border-radius: 500px;
}
/* Doctors end*/

/*Blogs start*/
#blogs {
  background-color: #fff;
}
#blogs .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  margin-top: 3rem;
}

#blogs .row .col {
  justify-content: space-between;
  box-shadow: 0.5px 5px 10px rgba(0, 0, 0, 0.1);
}

#blogs .row .col .col-content {
  padding: 2rem 0;
  position: relative;
}

#blogs .row .col .col-content::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--light-blue);
  height: 2px;
  width: 0%;
  transition: all 0.3s;
}

#blogs .row .col:hover .col-content::before {
  width: 100%;
}

#blogs .row .col .col-content .date {
  display: inline-block;
  padding: 5px 15px;
  background-color: var(--light-blue);
  color: #fff;
  border-radius: 10px;
  width: 30%;
  text-align: center;
  /* margin-bottom: 2rem; */
  margin-left: 1rem;
}

#blogs .row .col .col-content h3 {
  margin: 10px 2px;
  font-size: 18px;
  font-weight: 800;
}
#blogs .row .col .col-content h3:hover {
  print-color-adjust: var(--light-blue);
}

#blogs .row .col img {
  width: 100%;
}

/*Blogs end*/

/* Contact start*/
/* توسيط الفورم بالكامل في منتصف الشاشة */
.appointment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f4f4f4;
}

/* تصميم الفورم */
.appointment-form {
  background: white;
  padding: 30px;
  width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.appointment-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.row {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.appointment-form input,
.appointment-form select,
.appointment-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  min-height: 120px;
  resize: none;
}

button {
  width: 100%;
  background: #007bff;
  color: white;
  padding: 12px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background: #0056b3;
}

/* Contact end*/

/* Newsletter start*/

#newsletter {
  padding: 5rem 0;
  background-color: var(--bg--newsletter);
  opacity: 0, 3;
}

#newsletter .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* justify-content: space-between; */
  column-gap: 3rem;
}

#newsletter .row .col h2 {
  margin-bottom: 10px;
}

#newsletter .row form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: center;
  column-gap: 2rem;
}

#newsletter .row form input,
#newsletter .row form button {
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 10px;
}

/* Newsletter end*/

/* Footer Start*/
#footer {
  background-color: var(--light-blue);
  color: #fff;
}

#footer .container .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 3rem;
  justify-content: space-between;
}
#footer .container .row h2 {
  color: #fff;
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 10px;
}

#footer .container .row hr {
  margin: 10px 0 2rem;
  width: 50px;
  height: 2px;
  font-weight: 900;
  border: none;
  background-color: #fff;
}

#footer .container .row .col-1 {
  color: #fff;
}

#footer .container .row .col-1 .social {
  margin-top: 30px;
  color: #fff;
}

#footer .container .row .col-1 .social a i {
  border: 1px solid #fff;
  font-size: 18px;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 1.9;
  margin-right: 10px;
  border-radius: 50%;
  color: #fff;
}

#footer .container .row .col-1 .social a i:hover {
  background-color: #fff;
  color: var(--light-blue);
}

#footer .container .row .col-2 li {
  margin: 10px 0;
}
#footer .container .row .col-2 li i {
  margin-right: 5px;
}

#footer .container .row .col-2 ul :hover {
  /* color: var(--light--gray); */
  transform: translateX(10px);
  transition: all 0.7s ease;
}

#footer .container .row .col-3 ul {
  line-height: 25px;
}
#footer .container .row p {
  color: #fff;
  margin-bottom: 30px;
}

#footer .container .row .col-2 {
  color: #fff;
}

#footer .container .row .col-2 ul li a {
  color: #fff;
}

#footer .container .row .col-4 form {
  position: absolute;
}
#footer .container .row .col-4 input {
  padding: 15px;
  width: 80%;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 5px 0 0 5px;
  color: #fff;
  outline: none;
}

#footer .container .row .col-4 {
  position: relative;
}

#footer .container .row .col-4 input::placeholder {
  color: #fff;
}

#footer .container .row .col-4 form button {
  position: absolute;
  padding: 15px;
  right: 10;
  top: 10;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 20%;

  /* position: absolute;
  padding: 10px;
  right: 10px; 
  top: 10px; 
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 50px;
  height: 42px;
  cursor: pointer;  */
}

#footer .container .row .col-4 form button i {
  color: var(--light-blue);
  background-color: #fff;
  font-size: 16px;
}
/* Footer End*/

/*copyright start*/

#footer .copyright {
  background-color: #135fa1;
  padding: 2rem 0;
  width: 100%;
  text-align: center;
}

#footer .copyright p {
  color: #fff;
  justify-content: center;
  text-align: center;
}

#footer .copyright p a {
  font-size: 20px;
  margin-left: 10px;
  color: var(--bg--white);
}

/*copyright end*/

/* Responsive start*/
@media (max-width: 800px) {
  #home .navbar .logo {
    width: 150px;
  }

  #home .navbar nav ul a {
    margin: 0 5px;
  }

  #about .row,
  #help .row,
  #contact .row,
  #newsletter .row,
  #price-list .row {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  #help .row .col:first-child::before,
  #help .row .col:nth-child(2)::before {
    display: none;
  }

  #info .row,
  #services .row,
  #brand .row,
  #doctors .row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .title h2,
  #call .call-content h2 {
    font-size: 22px;
  }

  #home .navbar nav {
    flex-direction: column;
    padding: 10px 0;
  }

  #home .home-content .col h1 {
    font-size: 30px;
  }

  #home .home-content .col a {
    margin-bottom: 10px;
  }

  #blogs .row {
    grid-template-columns: 1fr;
  }

  #footer .container .row {
    grid-template-columns: 1fr;
    margin-bottom: 100px;
  }
}

/* Responsive end*/
